{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Plataforma de Turismo{% endblock %}</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/logo.png'%}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    {% block archivos_css %}{% endblock %}
</head>
<body>
    <!-- Header con menú de navegación -->
    <heder>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Turismo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shortest-route">GPS</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</heder>

<!-- Contenido de la página -->
<div class="container mt-4">
    {% block content %}
    {% endblock %}
</div>

<!--footer-->
        <footer class="final">
          <div class="footer--total">
              <section class="footer__columnas">
              <div class="footer__empresas">
                  <h3>Empresa</h3>
                      <p>Somos un equipo apasionado por compartir la belleza y el encanto de Córdoba con el mundo. 
                        Desde hace más de 20 años, nos dedicamos a ofrecer experiencias turísticas inolvidables que capturan la esencia y la cultura de esta maravillosa provincia. Nos enorgullece llegar a cada rincón de Córdoba, 
                        guiando a nuestros visitantes a través de sus paisajes impresionantes, su rica historia y su vibrante cultura.
                      </p>
              </div>
          </section>
          <section class="footer__columnas">
              <div class="footer__contactos">
                  <h3>Contactanos</h3>
                      <ul>
                          <li><a href="#">Telefono Fijo: Portal Cordoba</a></li>
                          <li><a href="#">Celular:(0351)Portal Cordoba</a></li>
                          <li><a href="#">gmail: portal_cordoba@gmial.com</a></li>
                          <li><a href="#"></a>Direccion: av. Portal Cordoba</a></li>
                          <li><a href="#"></a>Horarios: Lunes a Viernes de 9 a 20hs</a></li>
                      </ul>
                  </div>
          </section>
          <section class="footer__columnas">
              <div class="footer__redes">
                  <h3>Seguinos en nuestras Redes</h3>
                  <ul>
                      <li class="red">
                          <a href="#" target="_blank"><img src="{% static 'img/icono_face.png' %} " class="footer-imagen" alt=""></a>
                      </li>
                      <li class="red">
                          <a href="#" target="_blank"><img src="{% static 'img/icono_insta.png' %} " class="footer-imagen" alt=""></a>
                      </li>
                  </ul>
              </div>
          </section>
      </div>
      <p class="derechos">2021 Todos los derechos reservados./ Politica de privacidad / Aviso legal, Full Stack (Tierra)</p>
      </footer>

    
    <!-- Bootstrap JS y dependencias de Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>